h1 {
    font-family: 'Reem Kufi';
    font-size: 76px;
}

h2 {
    font-family: "Lemonada";
    font-size: 18px;
    margin: 5px;
}

h3 {
    font-family: "Tinos";
    font-size: 36px;
}

p {
    font-size: .8em
}

blockquote {
    border-left: none;
    font-family: "Tinos";
    font-size: 28px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border-width: 0px;
    background: rgb(20, 20, 20);
}

.navbar-brand {
    color: rgb(52, 185, 219) !important;
    font-family: 'Reem Kufi';
    font-size: 2em;
    margin-top: 2px;
}

.nav-blue {
    color: rgb(52, 185, 219) !important;
    font-size: 1.5em;
}

.topThird {
    background-image: url("http://res.cloudinary.com/arhodebeck/image/upload/v1484068818/Sitting-on-steps_gqrzwh.jpg");
    background-size: cover;
    background-position: top;
    background-position-x: calc(50% + 40px);
    min-height: 710px;
    width: auto;
    color: rgb(55, 232, 102);
    text-shadow: 2px 3px 2px #111;
}

.middleThird {
    background-image: url("http://res.cloudinary.com/arhodebeck/image/upload/v1484068789/headshot-open-space-left_dozz2t.jpg");
    background-position: right;
    background-size: cover;
    min-height: 750px;
    width: auto;
    text-shadow: 1px 2px 5px #333;
}

.bottomThird {
    background-image: url("http://res.cloudinary.com/arhodebeck/image/upload/v1484068801/headshot-open-space-right_ghfjwb.jpg");
    background-position: center top;
    background-size: cover;
    min-height: 720px;
    width: auto;
}

.aboutMe {
    background: rgba(20, 20, 20, .50);
    color: rgb(212, 212, 212);
    text-shadow: 1px 1px 1px rgba(10, 0, 0, .9);
    padding: 10px;
}

.website-thumbnail {
    max-height: 175px;
    max-width: auto;
    box-shadow: 10px 10px 5px #333;
    margin-top: 7px;
}

.gutter-10>[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

#pageTitle {
    text-align: center;
    padding-top: 210px;
    padding-left: 10px;
}

#pageSubtitle {
    margin-top: -15px;
    margin-bottom: -60px;
}

#firstQuote {
    text-align: right;
    padding-top: 85px;
    padding-right: 40px;
    padding-left: 10px;
}

#secondQuote {
    color: white;
    padding: 30px;
    text-shadow: 1px 1px rgba(10, 10, 10, .85)
}

#socialLinks {
    padding-top: 275px;
    padding-right: 20px;
    margin-right: 50px;
}

#thirdQuote {
    color: rgb(18, 44, 79);
    margin-top: 59px;
    text-shadow: 1px 1px rgba(200, 200, 200, .85);
    font-family: 'Reem Kufi';
}

#projectThumbnails {
    margin: 10px;
    padding: 5px;
}

#githubButton {
    background: rgba(64, 64, 64, .90);
    color: rgb(218, 223, 225);
    border-color: rgba(218, 223, 225, .90);
}

#linkedinButton {
    background: rgba(51, 77, 119, .90);
    color: rgb(213, 213, 213);
    border-color: rgba(195, 195, 195, .90)
}

#upworkImage {
    border-radius: 35px;
    padding: -5px;
    margin: -5px;
    width: 170px;
    height: 70px;
}

#upworkButton {
    background: rgb(255, 255, 255);
    opacity: .90;
    border-color: rgba(50, 10, 10, .90);
}

#myResumeButton {
    background: rgba( 15, 129, 129, .85);
    color: rgb(228, 241, 254);
    border-color: rgba(50, 10, 10, .90);
}

#adobeImage {
    color: rgb(200, 0, 0);
}

.social-button {
    width: 175px;
    height: 75px;
    border-radius: 35px;
    border-width: 2px;
    font-size: 26px;
    box-shadow: 8px 8px 8px rgba(43, 43, 43, .65);
    margin: 7px;
}

.website-thumbnail {
    margin-top: 20px;
}

#aboutMe {
    font-family: "Lemonada";
    font-size: .85em;
    color: rgb(212, 212, 212);
    text-shadow: 1px 1px 1px rgba(20, 20, 20, .85);
}